/* The CSS file for the Beth Avraham website */

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
    background-color: #fff;
    margin: 0;
    font-family: 'Open Sans', sans-serif;}

img {
    max-width: 20%;
    max-height: 20%;}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;}

a.home {
    color: #75b1ff
}

a.home:link { 
  text-decoration: none; 
} 
a.home:visited { 
  text-decoration: none; 
} 

section.about {
    margin: 30px;}

h1 { 
    text-align: center;}

nav {
	clear: both;
	color: #ffffff;
	background-color: #75b1ff;
	height: 30px;}
nav ul {
	margin: 0px;
	padding: 5px 0px 5px 30px;}
nav li {
	display: inline-block;
	margin-right: 40px;}
nav li a {
    color: #ffffff;}
nav li a:hover {
    color: #000000;}
nav ul, nav li, nav li a {
    border: none;}

footer {
	font-size: 80%;
	padding: 7px 0px 0px 20px;}

/* mobile */
@media only screen and (max-width: 375px) {
}